/* Webkit (Chrome, Safari, Edge) */

/* Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the entire scrollbar */
  background-color: #ffe064;
}

::-webkit-scrollbar:hover {
  width: 10px; /* Width of the entire scrollbar */
  background-color: #0b0b0b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111110; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the handle */
  width: 1%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffe064; /* Color of the scrollbar handle on hover */
}

* {
  margin: 0;
  padding: 0;
}

.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  border-radius: 0;
  border: 0;
  width: 90%;
  margin-bottom: 1.5em;
  margin: 5% 8%;
}
.card:hover,
Link:hover {
  transform: scale(1.05);
}

.social-menu i {
  color: white;
  transition: transform 0.2s ease !important;
}

.social-menu i:hover {
  transform: scale(1.05) !important;
}

.social-menu .bi-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
}
.social-menu .bi-twitter:hover {
  color: #00acee;
}
.social-menu .bi-facebook:hover {
  color: #3b5998;
}
.social-menu .bi-linkedin:hover {
  color: #0077b5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  text-align: center;
}

.company-logo {
  width: 100px;
  height: auto;
}

.company-name {
  font-size: 24px;
  margin-top: 10px;
}

.welcome-text {
  margin-top: 20px;
}

.btn-primary {
  margin-top: 30px;
}

/* This will change the color of the checkbox */
.form-check-input[type="radio"] {
  background-color: white; /* Change to whatever color you want */
}

/* This will change the color of the checkbox's tick mark */
.form-check-input[type="radio"]:checked {
  color: black;
  background-color: rgb(219, 146, 1); /* Change to whatever color you want */
}
