.small-square-image-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the image */
  
  width: 16rem; /* Adjust the width as needed */
  height: 14rem; /* Adjust the height as needed */
  overflow: hidden; /* Hide any overflowing content */
}

.small-square-image {
  width: 100%; /* Ensure the image fills the container horizontally */
  height: 97%; /* Ensure the image fills the container vertically */
  object-fit: contain; /* Scale the image as large as possible while maintaining aspect ratio */
}
